# .ebextensions/prometheus.config
commands:
  00_install_prometheus:
    command: |
      wget https://github.com/prometheus/prometheus/releases/download/v2.51.2/prometheus-2.51.2.linux-amd64.tar.gz
      tar -xvf prometheus-2.51.2.linux-amd64.tar.gz
      mv prometheus-2.51.2.linux-amd64 /opt/prometheus
      ln -s /opt/prometheus/prometheus /usr/local/bin/prometheus
      chmod +x /opt/prometheus/prometheus
  01_reload_systemd:
    command: "systemctl daemon-reload"
  02_enable_prometheus:
    command: "systemctl enable prometheus"
  03_start_prometheus:
    command: "systemctl start prometheus"

files:
  "/etc/systemd/system/prometheus.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Prometheus
      After=network.target

      [Service]
      Type=simple
      User=root
      WorkingDirectory=/
      Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      ExecStart=/usr/local/bin/prometheus --config.file=/etc/prometheus/prometheus.yml --web.listen-address=0.0.0.0:9090
      Restart=on-failure
      RestartSec=5
      StandardOutput=journal
      StandardError=journal

      [Install]
      WantedBy=multi-user.target

  "/etc/prometheus/prometheus.yml":
    mode: "000644"
    owner: root
    group: root
    content: |
      global:
        scrape_interval: 15s
      scrape_configs:
        - job_name: "flask_app"
          static_configs:
            - targets: ["localhost:8000"]
        - job_name: "prometheus"
          static_configs:
            - targets: ["localhost:9090"]
